<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net45" />
  <package id="NEventStore" version="5.0.1.12" targetFramework="net45" />
  <package id="NEventStore.Persistence.RavenPersistence" version="5.0.0.12" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2879" targetFramework="net45" />
</packages>