@{
    ViewBag.Title = "Received Messages";
}

<h1>Received Messages</h1>
<p>No one has sent a message yet!</p>

<div class="messages">
    <ol>
        <li><blockquote>What's on your mind?</blockquote> by Anonymous on 17 Apr 11 at 00:28</li>
        <li><blockquote>What's on your mind?</blockquote> by Anonymous on 17 Apr 11 at 00:28</li>
        <li><blockquote>What's on your mind?</blockquote> by Anonymous on 17 Apr 11 at 00:28</li>
    </ol>
</div>