@model System.Collections.Generic.IEnumerable<NES.Sample.Dtos.MessageDto>

@{
    ViewBag.Title = "Received messages";
}

<section id="received-messages">
    <h1>Received messages</h1>
    @if (Model.Any()) {
        <ol>
            @foreach (var message in Model) {
                <li><blockquote>@message.Message</blockquote> by @message.Username on @message.Sent.ToString("dd MMM yy 'at' HH:mm:ss")</li>
            }
        </ol>
    } else {
        <p>No one has sent a message yet!</p>
    }
</section>
