<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore" version="3.0.11326.44" targetFramework="net40" />
  <package id="EventStore.Persistence.RavenPersistence" version="3.0.11326.44" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net40" />
  <package id="RavenDB" version="1.0.919" targetFramework="net40" />
  <package id="RavenDB.Client" version="1.0.980" targetFramework="net40" />
</packages>