<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net40" />
  <package id="NEventStore.Persistence.RavenPersistence-Signed" version="4.1.0.10" targetFramework="net40" />
  <package id="NEventStore-Signed" version="4.1.0.10" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.5.2750" targetFramework="net40" />
</packages>